[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kinawu (kinawu)
[access "refs/for/refs/*"]
	read = group user/kinawu (kinawu)
	push = group user/kinawu (kinawu)
	label-Code-Review = -2..+2 group user/kinawu (kinawu)
	label-Verified = -1..+1 group user/kinawu (kinawu)
	rebase = group user/kinawu (kinawu)
	removeReviewer = group user/kinawu (kinawu)
	submit = group user/kinawu (kinawu)
[access "refs/heads/*"]
	read = group user/kinawu (kinawu)
	create = group user/kinawu (kinawu)
	push = +force group user/kinawu (kinawu)
	pushMerge = group user/kinawu (kinawu)
[access "refs/tags/*"]
	push = group user/kinawu (kinawu)
	push = +force group user/kinawu (kinawu)
